html{
    font-family: Helvetica, sans-serif;
}
nav {
    display: inline-block;
}
nav li {
    display: inline-block;
}

nav li a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: green;
}
header p {
    font-weight: bold;
    font-size: 30px;
}
