html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
section{
    display: flex;
    justify-content:space-between;
    max-width: 70vw;
    margin:18rem auto;
    padding: 3rem;
    gap: 2rem;
   
    
}
h1,h2,h3,h4,h5,h6{
    font-family:Georgia, serif;
    line-height: 1.2;
   
}
