h1{
    font-size: 28px;
}
header >p {
    font-style: italic;
}
article > p{
    font-size:24px;
}
section{
    margin-left: 20px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}